*{
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(87, 87, 87), #3d3d3d);
}

/* ############# HEADER ############ */

header{
    position: fixed;
    background-color: gray;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    gap: 250px;
    padding: 10px;
    width: 100%;
    background-color: rgb(41, 41, 41);
    color: azure;
    border-bottom: 2px solid white;
} 

.logo{
    width: 100px;
    border-radius: 20px;
    border: 3px solid white;
}

.logo:hover{
    transition: 0.7s;
    transform: scale(1.1);
}

nav a{
    color: azure;
    text-decoration: none;
    font-size: 36px;
    margin-left: 70px;
}

/* ############# MAIN ############ */

main{
    text-align: center;
    font-size: 32px;
    margin: 50px;
    margin-bottom: 160px;
    color: white;
}

main .first-div-main{
    margin-top: 100px;

}

main .first-div-main{
    margin-top: 100px;

}

main i{
    font-size: 48px;
}

main img{
    margin-top: 20px;
    height: 300px;
}

/* ############# FOOTER ############ */

footer{
    text-align: center;
    border-top: 2px solid white;
    margin-top: 300px;
    position: fixed;
    bottom: 0;
    background-color: rgb(54, 54, 54);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 250px;
    padding: 10px;
    width: 100%;
    height: 150px;
    color: azure;
    background-color: rgb(41, 41, 41);
}

footer a{
    color: azure;
}

footer p{
    margin-bottom: 10px;
}

b{
    color: rgb(255, 255, 138);
}